extends layout
include mixins/_country_list

block content
    h3= title
        div(class="country_wrapper")
            ul
                each country in allCountries
                    +countryList(country)
                else
                    li There are no countries