extends layout

include mixins/_hotel

block content

    each hotel in hotelData
        div(class="hotel")

            if url.startsWith('/admin')

                a(href=`${hotel._id}/update`)
                    button(class="button_small") Update Hotel
                a(href=`${hotel._id}/delete`)
                    button(class="button_small") Delete Hotel
            +hotel(hotel)


