extends layout
include mixins/_hotel
include mixins/_country_list

block content
    div(class="outer_wrapper")
        div(class="hotel_wrapper")
            h2 Hotels
                a(href="/all") (see all):
            ul
                each hotel in filteredHotels
                    +hotel(hotel)

        div(class="country_wrapper")
            h2 Countries
                a(href="/countries") (see all)
            ul
                each country in filteredCountries
                     +countryList(country._id)