doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

    body
      //nav(class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top")
      //  a(class="navbar-brand" href="") Logo
      //  ul(class="navbar-nav")
      //    li(class="nav-item")
      //      a(href="" class="nav-link") Register
      //    li(class="nav-item")
      //      a(href="" class="nav-link") Login

      header
        nav
          a(href="/")
            img#logo(src="/images/beach_banner5.jpg")
          ul
            if !user
                li
                  a(href="/sign-up") Sign up
                li
                  a(href="/login") Login
            else
                li
                    a(href='/my-account') my booking / account
                li
                    a(href='/logout') Logout (#{user.first_name})

        div(class="search_nav")
          form(action="/results" method="POST")
            div(class="input_wrapper")
              label(for="destination") Destination
              input(type="text" id="destination" name="destination" required)
            div(class="input_wrapper")
              label(for="duration") Duration
              input(type="text" id="duration" name="duration" required)
            div(class="input_wrapper")
              label(for="departure-date") Departure date
              input(type="date" id="departure-date" name="dateOfDeparture" required)
            div(class="input_wrapper")
              label(for="number-quests") Number of quests
              input(type="text" id="number-quests" name="numberOfGuests" required)
            div(class="input_wrapper")
                select(name="stars")
                    option(value="1") Min 1 star
                    option(value="2") Min 2 star
                    option(value='3') Min 3 star
                    option(value='4') Min 4 star
                    option(value="5") Min 5 star

            div(class="input_wrapper")
                select(name="sort")
                 option(value="1") Price Low - High
                 option(value="-1") Price: High - Low

            div(class="input_wrapper")
                button(type="submit") Search!


        - const values = Object.values(flash)
        - const keys = Object.keys(flash)
        if keys.length > 0
            div(class=`message message_${keys}`)
                span= values
                span.close_btn(onclick="this.parentNode.remove()" ) &times;


        img(src="/images/banner1.jpg")


    block content
