extends layout

block content
    h2= title
    hr


    form(action="/login" method="POST")

        div(class="form_input")
            label(for="email") Email:
            input(type="email" name="email" id="email")

        div(class="form_input")
            label(for="password") Password:
            input(type="password" name="password" id="password")

        div(class="form_input")
            button(type="submit" class="button_small") Login In