extends layout
include mixins/_orders
block content

    h2= title
    hr

    if user
        h3= `hi, ${user.first_name}!`

        if orders.length > 0
            h3 Your bookings:
            each order in orders
                +orders(order)
        esle
            h3 No order to show, yet

    else
        h3 Please login to you this section

