
mixin hotel(hotel, searchQuery)

    div(class="hotel")
        div(class="hotel_img")
            a(href=`/all/${hotel._id}`)
                //img(src=`/images/hotels/${hotel.image}`)
                img(src=`http://res.cloudinary.com/dtae2dref/image/upload/${hotel.image}.jpg`)
        div(class="hotel_info")
            a(href=`/all/${hotel._id}`)
                h3= hotel.hotel_name
            hr
            if url.startsWith('/all/')
                p=hotel.hotel_description
                hr
            p= `Start rating: ${hotel.star_rating}`
            p= `Country: ${hotel.country}`
            P= `Cost per night: ${hotel.cost_per_night} $`

            if url.startsWith('/all/')
                .hr
                h3 Search for this hotel
                div(class="search_nav")
                    form(action="/results" method="POST")
                        div(class="input_wrapper")
                            label(for="destination") Destination
                            input(type="text" id="destination" name="destination" value=hotel.hotel_name)
                        div(class="input_wrapper")
                            label(for="duration") Duration
                            input(type="text" id="duration" name="duration" required)
                        div(class="input_wrapper")
                            label(for="departure-date") Departure date
                            input(type="date" id="departure-date" name="dateOfDeparture" required)
                        div(class="input_wrapper")
                            label(for="number-quests") Number of quests
                            input(type="text" id="number-quests" name="numberOfGuests" required)

                        div(class="input_wrapper")
                            button(type="submit") Search!


        if url === '/results' || url.startsWith('/confirmation')
            div(class='hotel_order_details')
                p= `Numbers of nights: ${searchQuery.duration}`
                p= `Departure date: ${searchQuery.dateOfDeparture}`
                p= `Numbers of quests: ${searchQuery.numberOfGuests}`
                - const costEach = searchQuery.duration * hotel.cost_per_night
                - const totalCost = costEach * searchQuery.numberOfGuests
                p= `Total per person: ${costEach} $`
                hr
                h3= `Total cost: ${totalCost} $`

                - const query = `id=${hotel._id}&duration=${searchQuery.duration}&dateOfDeparture=${searchQuery.dateOfDeparture}&numberOfGuests=${searchQuery.numberOfGuests}`;
                if url === '/results'
                    a.button(href=`/confirmation/${query}`) Continue

                else if url.startsWith('/confirmation/')
                    // if user is logged in
                    if user
                        a.button(href=`/order-placed/${query}`) Place your order
                    else
                        a.button(href="/login") Please login in to order!
