mixin userForm()

    form(action="" method="POST")
        div(class="form_input")
            label(for="first_name") First name:
            input(type="text" name="first_name" id="first_name" required)

        div(class="form_input")
            label(for="surname") Last name:
            input(type="text" name="surname" id="surname" required)

        div(class="form_input")
            label(for="email") Email:
            input(type="email" name="email" id="email" requird)

        div(class="form_input")
            label(for="confirm_email") Confirm email:
            input(type="email" name="confirm_email" id="confirm_email" requird)

        div(class="form_input")
            label(for="password") Password:
            input(type="password" name="password" id="password" required)

        div(class="form_input")
            label(for="confirm_password") Confirm Password:
            input(type="password" name="confirm_password" id="confirm_password" required)

        div(class="form_input")
            button(type="submit" class="button_small") CONFIRM

